body {
  font-family: Arial, sans-serif;
}

.table-container {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
  border: 3px solid #000; /* Thicker border */
}

.left-table {
  flex: 1;
  text-align: left;
}

.right-table {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
}

thead th {
  background-color: #2e3f58; /* Dark blue color */
  color: white;
  padding: 10px;
  text-align: left;
}

.sub-header {
  background-color: #f0f0f0; /* Light grey color */
  color: #333; /* Dark grey text color */
  padding: 5px;
  text-align: left;
}

.tab-header {
  padding: 10px;
  background-color: #2e3f58; /* Dark blue color */
  color: white;
  cursor: pointer;
  text-align: left;
  font-size: 14px; /* Smaller font size */
  margin-right: 10px; /* Add some space between headers */
  border-radius: 5px; /* Rounded border */
}

.tab-header.active-tab {
  border: 2px solid white; /* White border when active */
}

.tab-header:not(.active-tab) {
  border: none;
}

.right-table .sub-header {
  width: 50%; /* Name column width */
}

.right-table .sub-header + .sub-header {
  width: 25%; /* Date and Status columns width */
}

.protections-header, .history-header, .protections-row, .history-row {
  display: none; /* Initially hide all headers and rows */
}

.protections-row td:nth-child(1), .history-row td:nth-child(1) {
  width: 50%; /* Name column width */
}

.protections-row td:nth-child(2), .history-row td:nth-child(2),
.protections-row td:nth-child(3), .history-row td:nth-child(3) {
  width: 25%; /* Date and Status columns width */
}
